<div class="navbar">
    <a href="{% url 'home' %}" class="logo">🚗 MyCarMarket</a>

    <div class="nav-links">
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'car_list' %}">Buy Cars</a>
        <a href="{% url 'create_car' %}">Sell Car</a>
        <a href="{% url 'dealers' %}">Dealers</a>

        {% if user.is_authenticated %}
            <a href="{% url 'my_listings' %}">My Listings</a>

            <form method="POST" action="{% url 'logout' %}" style="display:inline;">
                {% csrf_token %}
                <button type="submit" style="background:none; border:none; color:white; font-weight:bold; margin-left:22px; cursor:pointer; font-size:inherit;">
                    Logout
                </button>
            </form>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'register' %}">Register</a>
        {% endif %}
    </div>
</div>