<!-- =========================================
MyCarMarket
Version: v2.2.2
Date: 13 Jul 2026
Location: Melbourne, Australia
File: core/templates/core/home.html
Description:
Homepage Master Template
ItemList Structured Data
Global Banner CSS Added
========================================= -->

<!DOCTYPE html>
<html lang="en-AU">

<head>

    {% load static %}

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>
        MyCarMarket Australia | My Car Market Australia - Buy, Sell & Rent Cars
    </title>


    <!-- =========================================
    Homepage Meta START
    ========================================== -->

    {% include 'core/home_parts/meta.html' %}

    <!-- =========================================
    Homepage Meta END
    ========================================== -->


    <!-- =========================================
    Homepage Schema START
    ========================================== -->

    {% include 'core/home_parts/schema.html' %}

    <!-- =========================================
    Homepage Schema END
    ========================================== -->


    <!-- =========================================
    Global CSS START
    ========================================== -->

    <link
        rel="stylesheet"
        href="{% static 'css/style.css' %}?v=2202"
    >

    <link
        rel="stylesheet"
        href="{% static 'css/banner.css' %}?v=203"
    >

    <link
        rel="stylesheet"
        href="{% static 'css/home.css' %}?v=2202"
    >

    <!-- =========================================
    Global CSS END
    ========================================== -->


    <!-- =========================================
    Homepage Featured Cars ItemList Schema START
    ========================================== -->

    {% if featured_cars %}

        <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "ItemList",
            "name": "Featured Cars on MyCarMarket Australia",
            "description": "Featured car listings available on MyCarMarket Australia.",
            "itemListElement": [

                {% for car in featured_cars %}

                    {
                        "@type": "ListItem",
                        "position": {{ forloop.counter }},
                        "url": "{{ request.scheme }}://{{ request.get_host }}{{ car.get_absolute_url }}"
                    }{% if not forloop.last %},{% endif %}

                {% endfor %}

            ]
        }
        </script>

    {% endif %}

    <!-- =========================================
    Homepage Featured Cars ItemList Schema END
    ========================================== -->


    <!-- =========================================
    Homepage Latest Cars ItemList Schema START
    ========================================== -->

    {% if latest_cars %}

        <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "ItemList",
            "name": "Latest Cars on MyCarMarket Australia",
            "description": "Latest car listings available on MyCarMarket Australia.",
            "itemListElement": [

                {% for car in latest_cars %}

                    {
                        "@type": "ListItem",
                        "position": {{ forloop.counter }},
                        "url": "{{ request.scheme }}://{{ request.get_host }}{{ car.get_absolute_url }}"
                    }{% if not forloop.last %},{% endif %}

                {% endfor %}

            ]
        }
        </script>

    {% endif %}

    <!-- =========================================
    Homepage Latest Cars ItemList Schema END
    ========================================== -->


    <!-- =========================================
    Google Analytics START
    ========================================== -->

    <script
        async
        src="https://www.googletagmanager.com/gtag/js?id=G-FGGQZ4WXDT"
    ></script>

    <script>

        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag(
            'config',
            'G-FGGQZ4WXDT'
        );

    </script>

    <!-- =========================================
    Google Analytics END
    ========================================== -->


    <!-- =========================================
    Google AdSense START
    Loaded Only When Google AdSense Is Selected
    ========================================== -->

    {% if settings and settings.homepage_ad_type == 'google' and settings.google_adsense_publisher_id %}

        <script
            async
            src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client={{ settings.google_adsense_publisher_id }}"
            crossorigin="anonymous"
        ></script>

    {% endif %}

    <!-- =========================================
    Google AdSense END
    ========================================== -->

</head>


<body>


<!-- =========================================
Navbar START
========================================= -->

{% include 'includes/navbar.html' %}

<!-- =========================================
Navbar END
========================================= -->


<!-- =========================================
Hero Section START
========================================= -->

{% include 'core/home_parts/hero.html' %}

<!-- =========================================
Hero Section END
========================================= -->


<!-- =========================================
Homepage Content START
========================================= -->

<div class="container hero-search-container">


    <!-- =========================================
    Search Section START
    ========================================== -->

    {% include 'core/home_parts/search_box.html' %}

    <!-- =========================================
    Search Section END
    ========================================== -->


    <!-- =========================================
    Banner Advertisement START
    Normal Mode Used to Match Other Pages
    ========================================== -->

    {% include 'core/home_parts/banner_ad.html' %}

    <!-- =========================================
    Banner Advertisement END
    ========================================== -->


    <!-- =========================================
    Marketplace Stats START
    ========================================== -->

    {% include 'core/home_parts/stats.html' %}

    <!-- =========================================
    Marketplace Stats END
    ========================================== -->


    <!-- =========================================
    Featured Cars START
    ========================================== -->

    {% include 'core/home_parts/featured_cars.html' %}

    <!-- =========================================
    Featured Cars END
    ========================================== -->


    <!-- =========================================
    Amazon Accessories START
    ========================================== -->

    {% include 'amazon_affiliate/includes/products.html' %}

    <!-- =========================================
    Amazon Accessories END
    ========================================== -->


    <!-- =========================================
    Latest Cars START
    ========================================== -->

    {% include 'core/home_parts/latest_cars.html' %}

    <!-- =========================================
    Latest Cars END
    ========================================== -->


    <!-- =========================================
    Latest Car Reviews START
    ========================================== -->

    {% include 'core/home_parts/latest_reviews.html' %}

    <!-- =========================================
    Latest Car Reviews END
    ========================================== -->


    <!-- =========================================
    Call To Action START
    ========================================== -->

    {% include 'core/home_parts/cta.html' %}

    <!-- =========================================
    Call To Action END
    ========================================== -->


</div>

<!-- =========================================
Homepage Content END
========================================= -->


<!-- =========================================
Footer START
========================================= -->

{% include 'includes/footer.html' %}

<!-- =========================================
Footer END
========================================= -->


<!-- =========================================
Global Loader START
========================================= -->

<div id="global-loader">

    <div class="loader-circle"></div>

</div>

<!-- =========================================
Global Loader END
========================================= -->


<!-- =========================================
Toast START
========================================= -->

<div id="toast"></div>

<!-- =========================================
Toast END
========================================= -->


<!-- =========================================
Scroll To Top START
========================================= -->

<button
    id="scrollTopBtn"
    type="button"
    aria-label="Scroll to top"
>
    ⬆
</button>

<!-- =========================================
Scroll To Top END
========================================= -->


<!-- =========================================
Global JavaScript START
========================================= -->

<script src="{% static 'js/loading.js' %}?v=2202"></script>

<script src="{% static 'js/toast.js' %}?v=2202"></script>

<script src="{% static 'js/scroll_top.js' %}?v=2202"></script>

<script src="{% static 'js/favourite.js' %}?v=2202"></script>

<!-- =========================================
Global JavaScript END
========================================= -->


</body>

</html>