<!-- =========================================
MyCarMarket
Version: v1.2.6
Date: 19 Jun 2026
Location: Melbourne, Australia (AEST)
File: core/templates/core/home.html
Homepage Master Template + CSS Cache Update
========================================= -->

<!DOCTYPE html>
<html>
<head>
    {% load static %}

    <title>MyCarMarket Australia - Buy, Sell & Rent Cars</title>
    {% include 'core/home_parts/meta.html' %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}?v=103">

    <!-- =========================================
    Google Analytics START
    ========================================== -->

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-FGGQZ4WXDT"></script>

    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-FGGQZ4WXDT');
    </script>

    <!-- =========================================
    Google Analytics END
    ========================================== -->

   <!-- =========================================
Google AdSense START
Loaded only when Google AdSense is selected in Admin
========================================== -->

{% if settings and settings.homepage_ad_type == 'google' and settings.google_adsense_publisher_id %}
    <script async
        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client={{ settings.google_adsense_publisher_id }}"
        crossorigin="anonymous">
    </script>
{% endif %}

<!-- =========================================
Google AdSense END
========================================== -->
</head>

<body>

<!-- =========================================
Navbar START
========================================= -->

{% include 'includes/navbar.html' %}

<!-- =========================================
Navbar END
========================================= -->


<!-- =========================================
Hero Section START
========================================= -->

{% include 'core/home_parts/hero.html' %}

<!-- =========================================
Hero Section END
========================================= -->


<!-- =========================================
Homepage Content START
========================================= -->

<div class="container hero-search-container">

    <!-- =========================================
    Search Section START
    ========================================== -->

    {% include 'core/home_parts/search_box.html' %}

    <!-- =========================================
    Search Section END
    ========================================== -->


    <!-- =========================================
    Banner Advertisement START
    ========================================== -->

    {% include 'core/home_parts/banner_ad.html' %}

    <!-- =========================================
    Banner Advertisement END
    ========================================== -->


    <!-- =========================================
    Marketplace Stats START
    ========================================== -->

    {% include 'core/home_parts/stats.html' %} 

    <!-- =========================================
    Marketplace Stats END
    ========================================== -->


    <!-- =========================================
    Featured Cars START
    ========================================== -->

    {% include 'core/home_parts/featured_cars.html' %}

    <!-- =========================================
    Featured Cars END
    ========================================== -->


    <!-- =========================================
    Latest Cars START
    ========================================== -->

    {% include 'core/home_parts/latest_cars.html' %}

    <!-- =========================================
    Latest Cars END
    ========================================== -->


    <!-- =========================================
    Call To Action START
    ========================================== -->

    {% include 'core/home_parts/cta.html' %}

    <!-- =========================================
    Call To Action END
    ========================================== -->

</div>

<!-- =========================================
Homepage Content END
========================================= -->


<!-- =========================================
Footer START
========================================= -->

{% include 'includes/footer.html' %}

<!-- =========================================
Footer END
========================================= -->

</body>
</html>