<!-- =========================================
MyCarMarket
Version: v1.0.0
File: templates/base.html
Master Base Template
========================================= -->

{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}
            MyCarMarket Australia
        {% endblock %}
    </title>

    <!-- Main CSS -->
    <link rel="stylesheet"
          href="{% static 'css/style.css' %}">

    <!-- Page Specific CSS -->
    {% block extra_css %}
    {% endblock %}

    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-FGGQZ4WXDT"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-FGGQZ4WXDT');
    </script>

</head>

<body>

    {% block content %}
    {% endblock %}

    {% block extra_js %}
    {% endblock %}
<script src="{% static 'js/favourite.js' %}"></script>
</body>

</html>