<!-- =========================================
MyCarMarket
Version: v1.3.1
File: templates/base.html
Master Base Template + Global UX Tools
========================================= -->

{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}
            MyCarMarket Australia
        {% endblock %}
    </title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    {% block extra_css %}
    {% endblock %}

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-FGGQZ4WXDT"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-FGGQZ4WXDT');
    </script>
</head>

<body>

    {% block content %}
    {% endblock %}


    <!-- Global Loader -->
    <div id="global-loader">
        <div class="loader-circle"></div>
    </div>


    <!-- Toast Message -->
    <div id="toast"></div>


    <!-- Scroll To Top Button -->
    <button id="scrollTopBtn" type="button">
        ⬆
    </button>


    <!-- Global JS -->
    <script src="{% static 'js/loading.js' %}"></script>
    <script src="{% static 'js/toast.js' %}"></script>
    <script src="{% static 'js/scroll_top.js' %}"></script>
    <script src="{% static 'js/favourite.js' %}"></script>

    {% block extra_js %}
    {% endblock %}

</body>

</html>