<!-- =========================================
MyCarMarket
Version: v1.4.1
File: templates/base.html
Master Base Template + Production Polish
========================================= -->

{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <!-- ==========================================
    SECTION 01 : META + SEO
    ========================================== -->

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <meta
        name="theme-color"
        content="#111827"
    >

    <title>
        {% block title %}
            MyCarMarket Australia
        {% endblock %}
    </title>


    <!-- ==========================================
    SECTION 02 : GLOBAL CSS
    ========================================== -->

    <link
        rel="stylesheet"
        href="{% static 'css/style.css' %}?v=141"
    >


    <!-- ==========================================
    SECTION 03 : EXTRA CSS
    ========================================== -->

    {% block extra_css %}
    {% endblock %}


   <!-- ==========================================
SECTION 04 : FAVICON
========================================== -->

<link
    rel="apple-touch-icon"
    sizes="180x180"
    href="{% static 'favicon/apple-touch-icon.png' %}"
>

<link
    rel="shortcut icon"
    href="{% static 'favicon/favicon.ico' %}"
>

<link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="{% static 'favicon/favicon-32x32.png' %}"
>

<link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="{% static 'favicon/favicon-16x16.png' %}"
>

<link
    rel="manifest"
    href="{% static 'favicon/site.webmanifest' %}"
>


    <!-- ==========================================
    SECTION 05 : PRECONNECT
    ========================================== -->

    <link
        rel="preconnect"
        href="https://www.googletagmanager.com"
    >


    <!-- ==========================================
    SECTION 06 : GOOGLE ANALYTICS
    ========================================== -->

    <script
        async
        src="https://www.googletagmanager.com/gtag/js?id=G-1QLB4S3N80"
    ></script>

    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag(){
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'G-1QLB4S3N80');
    </script>

</head>

<body>

    <!-- ==========================================
    SECTION 07 : PAGE CONTENT
    ========================================== -->

    {% block content %}
    {% endblock %}


    <!-- ==========================================
    SECTION 08 : GLOBAL UX TOOLS
    ========================================== -->

    <div id="global-loader">
        <div class="loader-circle"></div>
    </div>

    <div id="toast"></div>

    <button
        id="scrollTopBtn"
        type="button"
        aria-label="Scroll to top"
    >
        ⬆
    </button>


    <!-- ==========================================
    SECTION 09 : GLOBAL JAVASCRIPT
    ========================================== -->

    <script src="{% static 'js/loading.js' %}"></script>
    <script src="{% static 'js/toast.js' %}"></script>
    <script src="{% static 'js/scroll_top.js' %}"></script>
    <script src="{% static 'js/favourite.js' %}"></script>


    <!-- ==========================================
    SECTION 10 : EXTRA JAVASCRIPT
    ========================================== -->

    {% block extra_js %}
    {% endblock %}

</body>

</html>